@using DAL.Utility;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MindWise</title>
    <link rel="shortcut icon" href="../Assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Assets/css/style.css?v=" + AppSetting.Version + "")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/ui.css?v=" + AppSetting.Version + "")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/plugins/icheck/skins/all.css?v=" + AppSetting.Version + "")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/plugins/bootstrap-loading/lada.min.css?v=" + AppSetting.Version + "")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jNotify.jquery.css?v=" + AppSetting.Version + "")" rel="stylesheet" />
    <script src="@Url.Content("~/Assets/plugins/jquery/jquery-3.1.0.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Scripts/jNotify.jquery.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>
</head>
@{ 
    string html = string.Empty;
    if(Request.Url.AbsoluteUri.Contains("SignUp"))
    {
        html = "class='account separate-inputs boxed'  data-page='signup'";
    }
    else
    {
        html = "class='account separate-inputs'  data-page='login'";
    }

}
<body @Html.Raw(html)>
    <div class="container" id="login-block">
        @RenderBody()
        <p class="account-copyright">
            <span>Copyright © @DateTime.Now.Year</span><span> MindWise</span>.<span>All rights reserved.</span>
        </p>
    </div>
    <div id="account-builder" style="display:none;">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-spin fa-gear"></i>
                    <h3><strong>Customize</strong> Login Page</h3>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Social Login</label>
                        <div class="col-xs-4">
                            <label class="switch m-r-20">
                                <input id="social-cb" type="checkbox" class="switch-input" checked>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Background Image</label>
                        <div class="col-xs-4">
                            <label class="switch m-r-20">
                                <input id="image-cb" type="checkbox" class="switch-input">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Background Slides</label>
                        <div class="col-xs-4">
                            <label class="switch m-r-20">
                                <input id="slide-cb" type="checkbox" class="switch-input">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-8 control-label">User Image</label>
                        <div class="col-xs-4">
                            <label class="switch m-r-20">
                                <input id="user-cb" type="checkbox" class="switch-input">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <input type="hidden" id="hdnAppUrl" value="@AppSetting.AppUrl" />
    @*<script src="@Url.Content("~/Scripts/jquery.min-1.12.4.js?v=" + AppSetting.Version + "")"></script>*@
    <script src="@Url.Content("~/Assets/plugins/jquery/jquery-migrate-3.0.0.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/gsap/main-gsap.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/tether/js/tether.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/bootstrap/js/bootstrap.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/icheck/icheck.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/backstretch/backstretch.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/bootstrap-loading/lada.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/jquery-validation/jquery.validate.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/plugins/jquery-validation/additional-methods.min.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/js/plugins.js?v=" + AppSetting.Version + "")"></script>
    <script src="@Url.Content("~/Assets/js/pages/login-v1.js?v=" + AppSetting.Version + "")"></script>

</body>
</html>
